from pathlib import Path

# -- Serveur ------------------------------------------------------------------
PORT = 5000

# -- Stockage -----------------------------------------------------------------
# Remplace ce chemin par le dossier où tu veux stocker les fichiers transférés
UPLOAD_DIR = Path(r"C:\chemin\vers\ton\dossier\files")
UPLOAD_DIR.mkdir(parents=True, exist_ok=True)

# -- Interface ----------------------------------------------------------------
STATIC_DIR = Path(__file__).parent / "static"
